body{
    background-color: rgba(var(--b3f,250,250,250),1);
    margin: 0;
    padding: 0;
}
.navi_bar{
    margin-top: 0px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    align-items: center;
    display: flex;
    justify-content: center;
}
.first_box{
    width: 960px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#insta_logo{
    margin-left: 10px;
}
.img_first{
    margin-left: 70px;
    margin-right: 45px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_first img{
    padding-top: 5px;
    padding-left:8px;
    padding-right:8px;
}
.img_1{
    padding-right: -15px;
}
.img_6{
    margin-right: -150px;
}
.img_size{
    width: 15%;
    border-radius: 70%;
}
.img_tag{
    margin-top: 10px;
}
.input_div{
    background: #efefef;
}
.first_input{
    width: 268px;
    height: 36px;
    background-color: #efefef;
    border: solid 1px #efefef;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 220px;
}
input:focus {outline:none;}/*검색창 클릭시 바깥 테두리 삭제*/
section{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
}
.first_main{
    width: 935px;
    position: relative;
    padding-top: 30px;
    height: 100%;
    display: flex;
}
.second_main{
    width: 614px;
}
.follower_div{
    display: flex;
    background: #fff;
    height: 118px;
    align-items: center;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    overflow: hidden;
    overflow-x: auto;
}
.follower_div::-webkit-scrollbar{
    display: none;
}
.follower_img{
    width: 56px;
    height: 56px;
    display: flex;
    margin-top: -15px;
    border-radius: 70%;
}
.follower_div img{
    padding: 0 10px;
}
.upload_stuff{
    width: 614px;
    background: #fff;
    margin-top: 30px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}
.third_main{
    margin-top: 25px;
    margin-left: 20px;
    width: 293px;
    height: 969px;
}
.follower_story{
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}
.story_username{
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    margin-top: 10px;
}
.upload_1{
    display: flex;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.img_name{
    display: inherit;
    align-items: center;
    justify-content: 32px;
    padding: 5px;
    margin-left: 10px;
}
.img_name div{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
}
.img_size1{
    width: 32px;
    height: 32px;
    border-radius: 70%;
}
.more_information{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.more_button{
    background-color: transparent;
    border: 1px solid transparent;
}
.button_font{
    font-size: 18px;
    font-weight: 600;
}
.upload_2{
    width: 614px;
    height: 614px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.upload2_img{
    width: inherit;
    height: 614px;
    float: left;
}
.upload_3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.upload3_first{
    display: inherit;
    margin-top: 8px;
    align-items: center;
}
.upload3_first button{
    background-color: transparent;
    border: 1px solid transparent;
}
.upload3_first div:first-child{
    margin-top: -5px;
    margin-left: 5px;
}
.upload3_first img{
    padding-left: 7px;
}
.img_message{
    padding-left: 3px;
}
.upload3_second{
    font-size: 3%;
    position: absolute;
    margin: -30px 0 0 280px;
    color: rgb(168, 168, 168);
    font-weight: 900;
}
.upload3_third{
    margin-right: 5px;
}
.upload_4{
    display: flex;
    font-weight: 600;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    margin-left: 15px;
    padding-top: 10px;
}
.like_count{
    margin-left: 5px;
}
.upload_5{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.upload_5 a{
    text-decoration : none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.upload_5 div{
    padding-right: 5px;
}
.reply_text{
    font-size: 14px;
}
.upload_5 button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 500;
    margin-left: -5px;
}
.upload_6{
    margin-left: 10px;
    margin-top: 5px;
}
.upload_6 button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 500;
    margin-left: -5px;
}
.upload_7{
    display: inherit;
    font-size: 10px;
    color: #8e8e8e;
    font-weight: 500;
    margin: 5px 0 15px 13px;
}
.upload_8{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
}
.upload8_first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 3px 10px;
}
.upload8_first textarea{
    background-color: transparent;
    border: 1px solid transparent;
    outline:none
}
.upload8_first textarea::placeholder{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 550;
}
.div_button button{
    background-color: transparent;
    border: 1px solid transparent;
    color: #0095f6;
    font-size: 14px;
    font-weight: 1;
}
.myimg_recommend img{
    width: 56px;
    height: 56px;
    border-radius: 70%;
}
.my_recommend{
    display: flex;
    align-items: center;
}
.myname_recommend{
    margin-left: 15px;
}
.myname_recommend div:first-child{
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}
.myname_recommend div:last-child{
    color: #8e8e8e;
    font-size: 14px;
}
.name_dont{
    margin-left: 115px;
    color: #0095f6;
    font-size: 12px;
    font-weight: 600;
}
.recommend_second{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 15px;
}
.recommend_second div:first-child{
    font-size: 14px;
    color : #8e8e8e;
    font-weight: 600;
}
.recommend_second div:last-child{
    font-size: 12px;
    color: #262626;
    font-weight: 800;
}
.ultag{
    display: block;
    margin-left: -40px;
}
.ultag li{
    display: inline-block;
    font-size: 11px;
    color: #c7c7c7;
    font-weight: 400;
    text-transform: none;
    line-height: 13px;
}
.last_ul{
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.ultag li::after{
    content: '\00B7';
    margin: 0 0.1px 0 0.25em;
}
.my_recommend_second{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.my_recommend_second img{
    width: 32px;
    height: 32px;
    border-radius: 70%;
}
.myname_recommend_second{
    margin-left: 15px;
}
.myname_recommend_second div:first-child{
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    margin-top: -6px;
}
.myname_recommend_second div:last-child{
    margin-left: -2px;
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 5px;
}
.name_follow{
    position: absolute;
    margin-left: 258px;
    color: #0095f6;
    font-size: 12px;
    font-weight: 600;
}
.heart{
    z-index: 1;
}
.red_heart{
    position: absolute;
    margin-left: -27px;
    color: red;
}
.dis_none{
    visibility:hidden;
}
.upload6-first{
    display: flex;
    padding-left: 4px;
    padding-bottom: 5px;
}
.upload6-first div:first-child{
    text-decoration : none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding-right: 8px;
}
.upload6-first div:last-child{
    font-size: 14px;
}
.next_button1{
    position: absolute;
    margin-left: 580px;
    background-color: white;
    color: #efefef;
    border: solid 1px;
    border-radius: 70%;
}
.next_button1 button{
    background-color: transparent;
    border: 1px solid transparent;
}
.pre_button1{
    position: absolute;
    margin-left: 5px;
    background-color: white;
    color: #efefef;
    border: solid 1px;
    border-radius: 70%;
}
.pre_button1 button{
    background-color: transparent;
    border: 1px solid transparent;
}
.container{
    display: flex;
}
.hiden{
    visibility: hidden;
}
.pre_button2{
    position: absolute;
    background-color: white;
    color: #efefef;
    border: solid 1px;
    border-radius: 70%;
    margin: 300px 0 0 10px;
}
.pre_button2 button{
    background-color: transparent;
    border: 1px solid transparent;
}
.next_button2{
    position: absolute;
    margin: 300px 0 0 580px;
    background-color: white;
    color: #efefef;
    border: solid 1px;
    border-radius: 70%;
}
.next_button2 button{
    background-color: transparent;
    border: 1px solid transparent;
}